.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/video/Innovation.mp4
static/video/Innovation copy 2.mp4
static/video/Innovation copy 3.mp4
static/video/Innovation copy 4.mp4
static/video/Innovation copy 5.mp4
static/video/Innovation copy.mp4
