.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/video/cheda.mp4
static/video/kolek.mp4
static/video/PW.mp4
static/video/tomczyk.mp4
static/video/wojciechowski.mp4
static/video/ziobrowski.mp4
