@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:global(.cursor-grabbing) {
    cursor: grabbing;
  }

:global(.cursor-grab) {
    cursor: grab;
}


* {
    margin: 0;
    font-family: 'Roboto', sans-serif ;
}

h1, h3, h4, p, ul{
    color:  rgb(241, 241, 241);
}

h1 {
    font-size: 3rem;
}

h3 {
   font-size: 2rem;
   padding-bottom: 0.5rem;
}

h4 {
   font-size: 2rem;
   padding-bottom: 0.5rem;
   text-align: center;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
}

ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
    list-style: none
}

li::before {
    content: "•"; 
    color: red;
    width: 1rem;
    margin-left: 1rem;
    padding-right: 1.2rem;

}

li {
    font-size: 1.5rem;
    line-height: 3rem;

}

img {
    max-width:100vh;
    height:auto;
}
